<div class="row">
    <div class="col-8 ">
        <div class="row mt-3">
            <div class="col">
                <h2>Dashboard</h2>
                <h5 class="text-primary ml-5">Statistique</h5>
            </div>
        </div>
        
        <div class="row ">
            <div class="col-11 bg-white ml-5 border shadow-sm " style="display: block">
                <canvas baseChart
                [data]="lineChartData"
                [labels]="lineChartLabels"
                [chartType]="lineChartType"
                [colors]="lineColor"></canvas>
            </div>
        </div>
    </div>
    <div class="col">
        <app-dashboard-menu></app-dashboard-menu>
    </div>
</div>

