<ul class="nav justify-content-around border-bottom bg-white shadow-sm">
    <li class="nav-item">
        <div class="dropdown">
            <button class="nav-link btn btn-outline-primary border-0 rounded-0 " id="cat1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">jardin & Plein air</button>
            <div class="dropdown-menu" aria-labelledby="cat1">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <div class="dropdown">
            <button class="nav-link btn btn-outline-primary border-0 rounded-0 "  id="cat2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mode</button>
            <div class="dropdown-menu" aria-labelledby="cat2">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <button class="nav-link btn btn-outline-primary border-0 rounded-0 "  id="cat3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Santé & Beauté</button>
            <div class="dropdown-menu" aria-labelledby="cat3">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <button class="nav-link btn btn-outline-primary border-0 rounded-0 "  id="cat4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Auto & Moto</button>
            <div class="dropdown-menu" aria-labelledby="cat4">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <button class="nav-link btn btn-outline-primary border-0 rounded-0 "  id="cat5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Superette</button>
            <div class="dropdown-menu" aria-labelledby="cat5">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <button class="nav-link btn btn-outline-primary border-0 rounded-0 "  id="cat6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Informatique</button>
            <div class="dropdown-menu" aria-labelledby="cat6">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <button class="nav-link btn btn-outline-primary border-0 rounded-0 "  id="cat7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consoles</button>
            <div class="dropdown-menu" aria-labelledby="cat7">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="dropdown">
             <button class="nav-link btn btn-outline-primary border-0 rounded-0 "  id="cat8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Maison & Bien être</button>
             <div class="dropdown-menu" aria-labelledby="cat8">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>    
    </li>



  </ul>