
    <div class="row ">
        <div class="col-12 p-5">
            <ul class="list-group ">
                <li class="list-group-item btn text-center font-weight-bold border-0 "  routerLink="/Dashboard/Stat" routerLinkActive="active"> Statistique</li>
                <li class="list-group-item btn text-center font-weight-bold border-0 "  routerLink="/Dashboard/DeliveryMan" routerLinkActive="active" >Gestion des livreurs</li>
                <li class="list-group-item btn text-center font-weight-bold border-0"  routerLink="/Dashboard/Stock" routerLinkActive="active">Gestion de stockes</li>
                <li class="list-group-item btn text-center font-weight-bold border-0"  routerLink="/Dashboard/Category" routerLinkActive="active">Gestion des catégories</li>
              </ul>
        </div>
    </div>
